:root{
    --header-color: #212121;
    --accent-color: #2196F3;
    --paragraph-color: #757575;
    --contrast-color: #fff;
}

body{
    font-family: "Roboto", sans-serif;
    color: var(--header-color);
}

/* --------------- HEADER------------------ */

.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--header-color);
}

.logo-item{
    color: var(--accent-color);
}

.header-list-item, .qualities-list-item,
.about-list-item,
.team-list-item {
    list-style-type: none;
}

.header-list-link, .header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--header-color);
}

.header-list-link:hover, .header-link:hover{
    color: var(--accent-color);
}

/* --------------- MAIN------------------ */

/* ------- HERO--------- */

.hero{
    background-color: #2F303A;
}

.hero-header{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--contrast-color);
}

.hero-btn{
    font-family: inherit;
    position: sticky;
    width: 200px;
    height: 50px;
    left: 700px;
    top: 430px;
}

/* ------- QUALITIES--------- */

.entry-title {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px
}


.qualities-list-header{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--header-color);
}

.qualities-list-paragraph{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
}

/* ------- ABOUT--------- */

.about-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
}


/* ------- TEAM--------- */

.team-header{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--header-color);
}

.team-list-header{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
text-align: center;
letter-spacing: 0.03em;
color: var(--header-color);
}

.team-list-paragraph{
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--paragraph-color);
}

/* --------------- FOOTER------------------ */

.footer{
    background-color: #2F303A;
}

.footer-address{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--contrast-color);
}

.footer-link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    color: var(--contrast-color);
}

.footer-logo-item {
    color: var(--accent-color);
}

/* ------------------------------- PORTFOLIO-------------------------------------- */

/* --------------- CHOICE FILTER------------------ */

.filter-list-item{
    list-style-type: none;
}

.filter-list-btn{
    font-family: inherit;
}


